body{
    background-color: rgb(172, 10, 10);
}

h1{
    color: black;
    text-align: center;
    font-size: 30px;
}
p{
    color: black;
    text-align: center;
    font-size: 25px;
}

#imagem1{
    width: 90%;
    height: 15%;
    border: 2px solid black;
}

.itens{
    font-style:italic;
    font-size: 50px;
    text-align: left;
}